* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Caveat Brush", cursive;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 5px solid;
    background-color: rgb(224, 226, 223);
}

.logo {
    font-size: 24px;
    margin-left: 80px;
}

.profile {
    display: flex;
    font-size: 24px;
    gap: 30px;
    margin-right: 30px;
}

.profile img {
    border: 3px solid;
    width: 60px;
    height: 60px;
}

.settings-form {
    display: flex;
    gap: 20px;
}

.settings-not-auth {
    display: flex;
    gap: 30px;
}

header input {
    height: 40px;
    width: 400px;
    border: 3px solid;
    padding: 6px;
    font-size: 24px;
    padding-left: 15px;
}

footer {
    width: 100%;
    height: 30px;
    background-color: rgb(224, 226, 223);
    position: absolute;
    bottom: 0;
    position: fixed;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

aside {
    margin-left: auto;
    margin-top: 10px;
    width: 17%;
    padding: 0 24px;
}

.tags-container {
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 12px;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.text-yellow {
    color: rgb(221, 221, 0);
}

.ref-container {
    margin-top: 20px;
}

.ref {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
}

main {
    display: flex;
    padding: 14px;
    font-size: 24px;
    width: 100%;
}

.main-container {
    width: 100%;
}

.placeword {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header button {
    height: 40px;
    border: 3px solid;
    width: 60px;
    font-size: 24px;
    background-color: rgb(59, 178, 0);
    -webkit-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

button:focus {
    background-color: white;
}

.word {
    display: flex;
    gap: 50px;
}

.word a {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.question {
    display: flex;
    gap: 40px;
    border: 3px solid;
    padding: 20px;
    width: 50%;
}

.question-main span {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.question img {
    border: 3px solid;
    height: 100px;
    width: 100px;
}

.rate {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rate input {
    border: 3px solid;
    height: 30px;
    width: 100px;
    font-size: 20px;
    padding: 6px;
}

.question-card {
    width: 100%;
    word-break: break-all;
}

.question-footer {
    display: flex;
    margin-top: 20px;
    gap: 60px;
}

.question-tags {
    display: flex;
    gap: 10px;
}

.question-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.pagination {
    display: flex;
    margin-top: 15px;
    gap: 10px;
    margin-bottom: 30px;
}

.pagination a,
.ellipsis {
    border: 3px solid;
    padding: 0px 10px;
    font-size: 30px;
    -webkit-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
}

.pagination a:hover {
    background-color: rgb(167, 167, 167);
    color: black;
}

.rate-form {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

main button {
    gap: 10px;
    border: 3px solid;
    padding: 6px 6px;
    font-size: 30px;
}

.tag-1 {
    color: red;
}
.tag-2 {
    color: rgb(211, 211, 18);
}
.tag-3 {
    color: green;
}
.tag-4 {
    color: blue;
}
.tag-5 {
    color: hotpink;
}
.tag-6 {
    color: cyan;
}
.tag-7 {
    color: orange;
}
.tag-8 {
    color: purple;
}
.tag-9 {
    color: cornflowerblue;
}
.tag-10 {
    color: maroon;
}
