* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Caveat Brush", cursive;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 5px solid;
    background-color: rgb(224, 226, 223);
}

header button {
    height: 40px;
    border: 3px solid;
    width: 60px;
    font-size: 24px;
    background-color: rgb(59, 178, 0);
    -webkit-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.logo {
    font-size: 24px;
    margin-left: 80px;
}

.settings-not-auth {
    display: flex;
    gap: 30px;
}

.profile {
    display: flex;
    font-size: 24px;
    gap: 30px;
    margin-right: 30px;
}

.profile:hover {
    color: gray;
}

.profile img {
    border: 3px solid;
    width: 60px;
    height: 60px;
}

header input {
    height: 40px;
    width: 400px;
    border: 3px solid;
    padding: 6px;
    font-size: 24px;
    padding-left: 15px;
}

header button {
    height: 40px;
    border: 3px solid;
    width: 60px;
    font-size: 24px;
    background-color: rgb(59, 178, 0);
    -webkit-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
}

footer {
    width: 100%;
    height: 30px;
    background-color: rgb(224, 226, 223);
    position: absolute;
    bottom: 0;
    position: fixed;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

.error {
    color: red;
}

main {
    display: flex;
    padding: 14px;
    font-size: 24px;
}

.placeword {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main input {
    height: 40px;
    border: 3px solid;
    padding: 6px;
}

.form {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

form * {
    font-size: 24px;
}

.avatar {
    display: flex;
    gap: 10px;
}

::-webkit-file-upload-button {
    display: none;
}

.avatar input {
    width: 150px;
}

.registerButton {
    height: 40px;
    width: 100px;
    border: 3px solid;
    background-color: rgb(224, 226, 223);
    -webkit-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
}

.chooseButton {
    width: 100px;
    background-color: rgb(224, 226, 223);
    border: 3px solid;
}

button:hover {
    background-color: gray;
    cursor: pointer;
}

button:focus {
    background-color: white;
}

aside {
    margin-left: auto;
    margin-top: 10px;
    width: 15%;
    padding: 0 24px;
}

.tags-container {
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.tags {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-top: 12px;
}

.ref-container {
    margin-top: 20px;
}

.ref {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
}

.tag-1 {
    color: red;
}
.tag-2 {
    color: rgb(211, 211, 18);
}
.tag-3 {
    color: green;
}
.tag-4 {
    color: blue;
}
.tag-5 {
    color: hotpink;
}
.tag-6 {
    color: cyan;
}
.tag-7 {
    color: orange;
}
.tag-8 {
    color: purple;
}
.tag-9 {
    color: cornflowerblue;
}
.tag-10 {
    color: maroon;
}
